<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulcan</title>
    style
        include ../static/style.css
</head>
<body>

    <nav>
        <div class="logo">
            <H3>Vulcan</H3>

        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="animation"></div>
    </nav>
    <div class="container">
        <form action="/" method="POST" id="Contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
   
</body>
</html>

    
    <!-- 
    
    
      <p>
        | #{content}                     //pipe char is used for plain text in pug//
        | Have a nice day!
    </p> -->
